/* Слайдер */
.slick-slider {
  position: relative;
}

/* Ограничевающая оболочка */
.slick-list {
  width: 100%;
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}


/* Слайд */
.slick-slide {
}

/* Слайд активный */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}


/* Стрелка */
.slick-arrow {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #04ADBF;
  -webkit-mask: url(../img/2.content/arrow.svg) center no-repeat;
  -webkit-mask-size: contain;
  border-radius: 50%;
  cursor: pointer;
  top: calc((100% - 25px) / 2);
  transition: 0.2s all ease-in-out;
  font-size: 0;
  z-index: 5;

  &:hover {
    opacity: 0.7;
  }
}

.partners__slider .slick-arrow {
  top: unset;
  bottom: -10%;

  @media (max-width: 1025px) {
    bottom: 0;
  }
}

.roadmap-slider .slick-arrow {
  top: unset;
  bottom: 5%;
  background: #FFFFFF;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: -56px;
  transform: scale(-1, 1);
  font-size: 0;
}

.partners__slider .slick-arrow.slick-prev {
  left: calc((100% - 26px) / 2 - 30px);
}

.roadmap-slider .slick-arrow.slick-prev {
  left: calc((100% - 26px) / 4 - 30px);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: -56px;
}

.partners__slider .slick-arrow.slick-next {
  right: calc((100% - 26px) / 2 - 30px);
}

.roadmap-slider .slick-arrow.slick-next {
  right: unset;
  left: calc((100% - 26px) / 4 + 30px);
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
  background: #C4C4C4;

  &:hover {
    opacity: 1;
  }
}