@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "variables";
@import "fonts";
@import "header";

.block {
  display: flex;
  position: relative;
  background: #ffffff;
}

.block_dark {
  background: #000000;
  color: #ffffff;
}

.block_grey {
  background: #F8F8F8;
}

.block_first-on-page {
  padding-top: 120px;
  @media (max-width: 1025px) {
    padding-top: 76px;
  }
}

.block__content {
  max-width: 1570px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 5;

  @media (max-width: 1025px) {
    max-width: 768px;
  }
  @media (max-width: 767px) {
    max-width: 414px;
  }
}

.block__title {
  font-weight: normal;
  font-size: 56px;
  line-height: 68px;

  span {
    font-weight: normal;
    font-size: 88px;
    line-height: 107px;
  }
}

.block__title_cloud-migrations {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;

  color: #FFFFFF;
  @media (max-width: 1025px) {
    font-size: 36px;
  }
}

.block__title_digital-directions {
  margin-top: 100px;
  display: flex;
  flex-flow: column;
  @media (max-width: 1025px) {
    margin-top: 45px;
    font-size: 50px;
  }
  @media (max-width: 767px) {
    font-size: 36px;
    line-height: normal;
    span {
      font-size: 46px;
      line-height: normal;
    }
  }
}

.block__title_portfolio {
  font-size: 50px;
  line-height: 61px;

  span {
    font-size: 50px;
    color: #04ADBF;
  }

  @media (max-width: 1025px) {
    font-size: 40px;
    line-height: 1.2;
    span {
      font-size: 40px;
      line-height: 1.2;
    }
  }
  @media (max-width: 767px) {
    font-size: 30px;
    span{
      font-size: 30px;
    }
  }
}

.digital-directions {
  flex-flow: column;
}

.digital-directions__arrow-blocks-list {
  margin-top: 35px;
  width: 80%;
  @media (max-width: 1025px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    flex-flow: column;
  }
}

.arrow-blocks-list {
  display: flex;
  justify-content: space-between;
}

.arrow-blocks-list__arrow-block {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 1px solid #04ADBF;
  background: transparent;
  cursor: pointer;
  transition: 0.2s all ease-in-out;

  &::after {
    content: '';
    width: 26px;
    height: 7px;
    background: #ffffff;
    -webkit-mask: url(../img/2.content/arrow.svg) center no-repeat;
    -webkit-mask-size: contain;
    transition: 0.2s all ease-in-out;
  }

  &:hover {
    color: #04ADBF;

    &::after {
      background: #04ADBF;
    }
  }

  @media (max-width: 1190px) {
    max-width: 290px;
    width: 33%;
    margin-right: 5%;
  }
  @media (max-width: 767px) {
    margin-top: 40px;
    max-width: 100%;
    width: 100%;
  }
}

.digital-directions__writing-text-block {
  margin: 80px 0 0 30%;
  @media (max-width: 1025px) {
    margin: 72px 0 0;
    width: 80%;
  }
  @media (max-width: 767px) {
    margin-top: 126px;
    width: 100%;
  }
}

.writing-text-block {
  width: 55%;
  display: flex;
  flex-flow: column;
}

.writing-text-block__static-part {
  font-weight: normal;
  font-size: 45px;
  line-height: 55px;
  @media (max-width: 767px) {
    font-size: 40px;
    line-height: normal;
  }
}

.writing-text-block__change-part {
  width: max-content;
  margin-top: 15px;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  border-bottom: 2px solid #04ADBF;

  color: #04ADBF;
  @media (max-width: 1025px) {
    width: 100%;
    border-bottom: none;
  }
}

.digital-directions__bottom-counters {
  margin-top: 155px;
  background: rgba(205, 64, 255, 0.12);
  @media (max-width: 1025px) {
    height: 92px;
    max-width: 738px;
    margin: 262px auto 0;
    background: 0;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    margin: 30px auto;
    max-width: 384px;
    height: unset;
    flex-flow: wrap;
  }
}

.bottom-counters {
  display: flex;
  height: 107px;
}

.bottom-counters__arrow {
  display: flex;
  width: 33%;
  background: url(../img/2.content/counters-arrow-bg.svg) right top no-repeat;
  background-size: cover;
  @media (max-width: 1025px) {
    display: none;
  }
}

.bottom-counters__small-arrow {
  display: inline-flex;
  width: 91px;
  height: 100%;
  background: #ffffff;
  opacity: 0.3;
  margin-left: 20px;
  -webkit-mask: url(../img/2.content/counters-arrow.svg) center no-repeat;
  -webkit-mask-size: contain;
}

.bottom-counters__small-arrow_left {
  margin-left: auto;
  opacity: 0.05;
}

.bottom-counters__small-arrow_middle {
  opacity: 0.15;
}

.bottom-counters__text-block {
  margin-left: 25px;
  width: 15%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 15px 0;

  background: linear-gradient(100.29deg, rgba(4, 173, 191, 0.2) 7.71%, rgba(196, 196, 196, 0) 84.95%);
  @media (max-width: 1025px) {
    width: 32%;
    margin: 0;
    background: linear-gradient(100.29deg, rgba(4, 173, 191, 0.2) 7.71%, rgba(196, 196, 196, 0) 100%);
  }
  @media (max-width: 767px) {
    margin-top: 30px;
    width: 50%;
    background: 0;
    flex-flow: column;
    justify-content: flex-start;
    padding: 0;
  }
}

.bottom-counters__digits {
  position: absolute;
  top: -40%;

  font-size: 60px;
  font-weight: bold;
  line-height: 73px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  @media (max-width: 1025px) {
    left: -2%;
  }
  @media (max-width: 767px) {
    position: static;
  }
}

.bottom-counters__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;

  color: #FFFFFF;
  @media (max-width: 1190px) {
    br {
      display: none;
    }
  }
  @media (max-width: 1025px) {
    font-size: 15px;
    font-weight: 400;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.moving-element {
  position: absolute;
  z-index: 3;
}

.moving-element__dot {
  width: 24px;
  height: 24px;
  border: 6px solid #000000;
  border-radius: 50%;
  background-color: #CD40FF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.moving-element__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.moving-element_triangle_1 {
  top: 5%;
  right: -10%;
  width: 770px;
  height: 754px;
}

.moving-element_triangle_2 {
  left: -10%;
  bottom: -13%;
  z-index: 0;
  width: 625px;
  height: 584px;
}

.moving-element_triangle_3 {
  left: -11%;
  bottom: -42%;
  width: 512px;
  height: 505px;
}

.moving-element_triangle_4 {
  right: 40%;
  bottom: 1%;
  width: 224px;
  height: 210px;
}

.moving-element_triangle_5 {
  right: 5%;
  bottom: -10%;
  width: 412px;
  height: 417px;
}

.moving-element_triangle_6 {
  top: 5%;
  right: 1%;
  width: 310px;
  height: 338px;
}

.moving-element_triangle_7 {
  bottom: -35%;
  right: -13%;
  z-index: 0;
  width: 560px;
  height: 637px;
}

.moving-element_triangle_8 {
  top: 3%;
  left: 58%;
  width: 134px;
  height: 142px;
}

.moving-element_triangle_9 {
  top: 1%;
  left: 0;
  width: 350px;
  height: 638px;
}

.moving-element_triangle_10 {
  bottom: -1%;
  left: 21%;
  width: 224px;
  height: 214px;
}

.moving-element_triangle_11 {
  right: 5%;
  bottom: -20%;
  width: 516px;
  height: 488px;
}

.moving-element_triangle_12 {
  top: -15%;
  left: -5%;
  width: 512px;
  height: 511px;
}

.moving-element_triangle_13 {
  bottom: 10%;
  right: -11%;
  z-index: 0;
  width: 490px;
  height: 474px;
}

.moving-element_triangle_14 {
  left: -25%;
  top: 0;
  width: 670px;
  height: 667px;
}

.moving-element_triangle_15 {
  left: -2%;
  bottom: 5%;
  width: 188px;
  height: 188px;
}

.moving-element_triangle_16 {
  bottom: -5%;
  right: -23%;
  width: 675px;
  height: 706px;
}

.moving-element_triangle_17 {
  right: 40%;
  bottom: 1%;
  width: 285px;
  height: 294px;
}

.moving-element_radiant-round-shape {
  left: 13%;
  bottom: 0;
  width: 840px;
  height: 840px;
  border-radius: 50%;

  background: url(../img/2.content/round-shpae.svg) center no-repeat;
  background-size: contain;
  opacity: 0.7;
}

.moving-element_radiant-round-shape_awards {
  left: unset;
  bottom: unset;
  right: -7%;
  top: -10%;
}

.advantages-block_main-page {
  padding: 95px 0 132px;
  @media (max-width: 1025px) {
    padding: 51px 0 80px;
  }
}

.advantages-block__list {
  display: flex;
  @media (max-width: 1025px) {
    flex-flow: column;
  }
}

.advantages-block__list-item {
  display: flex;
  flex-flow: column;
  width: 27%;
  margin-right: 60px;
  @media (max-width: 1025px) {
    width: 100%;
    flex-flow: column wrap;
    height: 140px;
    margin-bottom: 50px;
    margin-right: 0;
  }
  @media (max-width: 767px) {
    height: 165px;
  }
}

.block__img-wrapper {
  width: 100px;
  height: 100px;
  @media (max-width: 1025px) {
    margin: 0 25px 25px auto;
  }
  @media (max-width: 767px) {
    width: 87px;
    height: 87px;
    margin-right: 15px;
  }
}

.advantages-block__list-item-title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
  @media (max-width: 1025px) {
    margin-top: 0;
    font-size: 20px;
    width: 66%;
    br {
      display: none;
    }
  }
  @media (max-width: 767px) {
    width: 75%;
    font-size: 16px;
  }
}

.advantages-block__list-item-text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 130%;

  color: #000000;
  @media (max-width: 1025px) {
    margin-top: 0;
    font-size: 16px;
    width: 66%;
  }
  @media (max-width: 767px) {
    width: 75%;
    font-size: 14px;
  }
}

.advantages-block__list-item-link {
  margin-top: auto;
  padding-top: 15px;
  width: max-content;
  position: relative;

  font-size: 18px;
  line-height: 130%;
  text-decoration: none;

  color: #04ADBF;

  &::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 7px;
    right: -40px;
    top: calc((100% - 7px) / 2 + 7px);
    background: #04ADBF;
    -webkit-mask: url(../img/2.content/arrow.svg) center no-repeat;
    -webkit-mask-size: contain;
  }

  @media (max-width: 1025px) {
    margin-top: 0;
    font-size: 16px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.block__button {
  display: flex;
  padding: 18px 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
  background: #04ADBF;
  cursor: pointer;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: #fff;
    background-color: #0ccde2;
  }
}

.block__button_awards {
  margin-left: 8%;
  margin-top: 67px;
  align-items: center;

  &::after {
    content: '';
    width: 26px;
    height: 7px;
    margin-left: 10px;
    background: #FFFFFF;
    -webkit-mask: url(../img/2.content/arrow.svg) center no-repeat;
    -webkit-mask-size: contain;
  }

  @media (max-width: 1025px) {
    margin-top: 50px;
    margin-left: 55px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
    width: 100%;
    justify-content: center;
    margin-left: 0;
  }
}

.block__button_join-us {
  width: 311px;
  margin-top: auto;
  align-items: center;

  &::after {
    content: '';
    width: 26px;
    height: 7px;
    margin-left: 10px;
    background: #FFFFFF;
    -webkit-mask: url(../img/2.content/arrow.svg) center no-repeat;
    -webkit-mask-size: contain;
  }

  @media (max-width: 1025px) {
    order: 4;
  }
  @media (max-width: 767px) {
    width: 100%;
    font-size: 16px;
    justify-content: center;
  }
}

.block__button_cloud-migrations {
  margin-top: 60px;
  @media (max-width: 1025px) {
    margin-top: 45px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
    padding: 18px 35px;
  }
}

.cloud-migrations {
  padding: 70px 0 75px;
  @media (max-width: 1025px) {
    padding: 30px 0 80px;
  }
}

.cloud-migrations__text {
  margin-top: 10px;
  width: 50%;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
  @media (max-width: 1025px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.portfolio {
  padding: 102px 0 160px;
  @media (max-width: 1025px) {
    padding: 40px 0 50px;
  }
}

.portfolio__projects {
  margin-top: 111px;
  display: flex;
  flex-flow: column;
  @media (max-width: 1025px) {
    margin-top: 25px;
  }
}

.portfolio__slider-container{
  display: flex;
  @media (max-width: 767px) {
    flex-flow: column;
  }
}

.portfolio__direction-title {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 160px;
  font-size: 40px;
  line-height: 49px;

  color: #000000;
  @media (max-width: 767px) {
    width: 100%;
    line-height: normal;
    height: unset;
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.portfolio__slider {
  display: flex;
  position: relative;
  border-collapse: collapse;
  width: 70.9%;
  border: 1px solid #E5E5E5;
  border-bottom: 0;
  background: #FFFFFF;
  @media (max-width: 767px) {
    width: 110%;
    margin-bottom: 20px;
  }
}

.portfolio__slider-item {
  display: flex;
  width: 218px;
  height: 160px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.portfolio__slider-item-img-wrapper {
  width: 100%;
}

.portfolio__link {
  margin-top: 30px;
  display: inline-flex;
  width: max-content;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 1px solid #04ADBF;

  color: #04ADBF;
  @media (max-width: 1025px) {
    margin-top: 60px;
    font-size: 18px;
  }
  @media (max-width: 767px) {
    margin-top: 10px;
  }
}

.awards {
  padding: 75px 0;
  @media (max-width: 1025px) {
    padding: 40px 0 60px;
  }
}

.awards__list {
  display: flex;
  @media (max-width: 1025px) {
    flex-flow: column;
    padding: 0 55px;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}

.awards__category {
  display: flex;
  flex-flow: column;
  width: 21%;
  margin-left: 8%;
  @media (max-width: 1025px) {
    width: 100%;
    margin-left: 0;
    flex-flow: row wrap;
  }
  @media (max-width: 767px) {
   justify-content: space-between;
  }
}

.awards__category-title {
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;

  color: #04ADBF;
  @media (max-width: 1025px) {
    width: 100%;
  }
}

.awards__list-item {
  display: flex;
  flex-flow: column;
  margin: 40px 0;
  @media (max-width: 1025px) {
    width: 48%;
  }
}

.awards__list-item-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;

  color: #FFFFFF;
}

.awards__list-item-text {
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;
  @media (max-width: 1025px) {
    font-weight: 300;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.specialist-quote {
  padding: 105px 0 100px;
  @media (max-width: 1025px) {
    padding: 60px 55px;
  }
  @media (max-width: 767px) {
    padding: 60px 0;
  }
}

.specialist-quote__content {
  margin: 0 auto;
  display: flex;
  max-width: 1191px;
  width: 100%;
  justify-content: space-between;
  @media (max-width: 767px) {
   flex-flow: column;
  }
}

.specialist-quote__photo {
  width: 14%;
  max-width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  @media (max-width: 1025px) {
    width: 27%;
    margin-right: 18px;
  }
  @media (max-width: 767px) {
   width: max-content;
    margin-bottom: 40px;
  }
}

.specialist-quote__img-wrapper {
  width: 100%;
}

.specialist-quote__text-block {
  display: flex;
  flex-flow: column;
  width: 77%;
  @media (max-width: 1025px) {
    width: 70%;
  }
}

.specialist-quote__quote-text {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  @media (max-width: 1025px) {
    font-size: 16px;
    width: 426px;
  }
}

.specialist-quote__author {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  @media (max-width: 1025px) {
    font-size: 16px;
  }
}

.specialist-quote__author-position {
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  @media (max-width: 1025px) {
    font-size: 16px;
  }

  a {
    color: #04ADBF;
    text-decoration: none;
  }
}

.partners {
  padding: 95px 0 100px;
  @media (max-width: 1025px) {
    padding: 40px 0 50px;
  }
}

.partners__title {
  font-size: 50px;
  line-height: 61px;

  color: #000000;
  @media (max-width: 1025px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.partners__slider {
  margin: 30px auto 0;
  display: flex;
  max-width: 1144px;
  width: 100%;
  @media (max-width: 1025px) {
    margin-top: 0;
  }
}

.partners__slider-item {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 70px;
  padding-bottom: 10px;
  
  @media (max-width: 1025px) {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 50px;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(3, minmax(40px, 155px));
    justify-content: space-between;
    grid-row-gap: 10px;
  }
}

.partners__slider-item-partner-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__slider-item-img-wrapper{
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.partners__slider-item-img-wrapper_microsoft {
  width: 280px;
  height: 60px;
}

.partners__slider-item-img-wrapper_tableau {
  width: 318px;
  height: 67px;
}

.partners__slider-item-img-wrapper_ibm {
  width: 212px;
  height: 85px;
}

.partners__slider-item-img-wrapper_creatio {
  width: 250px;
  height: 74px;
}

.partners__slider-item-img-wrapper_salesforce {
  width: 242px;
  height: 170px;
}

.partners__slider-item-img-wrapper_yandex {
  width: 256px;
  height: 74px;
  position: relative;
  top: 10px;
}

.news__content {
  display: flex;
  @media (max-width: 1025px) {
    flex-flow: column;
  }
}

.news__last-news {
  display: flex;
  flex-flow: column;
  padding: 30px 6.5% 77px 30px;
  width: 35%;
  position: relative;

  &::before {
    content: '';
    width: 150%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50%;

    background: linear-gradient(180deg, rgba(205, 64, 255, 0.3) 0%, rgba(4, 173, 191, 0.3) 100%);
    z-index: -1;
  }

  @media (max-width: 1025px) {
    width: 100%;
    flex-flow: row wrap;
    padding: 45px 0 37px;
    &::before {
      width: 100vw;
      left: calc((100% - 100vw) / 2);
    }
  }
}

.news__title {
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;

  color: #FFFFFF;
  @media (max-width: 1025px) {
    font-size: 40px;
    br{
      display: none;
    }
  }
  @media (max-width: 767px) {
    font-size: 30px;
    line-height: normal;
  }
}

.news__last-news-img-wrapper {
  margin-top: 37px;
  width: 100%;
  @media (max-width: 1025px) {
    width: 40%;
    margin-bottom: auto;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.news__last-news-text-block {
  display: flex;
  flex-flow: column;
  @media (max-width: 1025px) {
    width: 57%;
    margin-left: auto;
    .news__link {
      margin-top: 0;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.news__last-news-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;

  color: #FFFFFF;

  @media (max-width: 1025px) {
    margin-top: 37px;
  }
  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.news__last-news-description {
  margin-top: 20px;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.news__last-news-date {
  margin: 20px 0 15px;
  font-size: 18px;
  line-height: 22px;

  color: #04ADBF;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.news__link {
  margin-top: 35px;
  width: max-content;
  position: relative;
  font-size: 18px;
  line-height: 130%;
  text-decoration: none;
  color: #04adbf;

  &::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 7px;
    right: -40px;
    top: calc((100% - 7px) / 2);
    background: #04adbf;
    -webkit-mask: url(../img/2.content/arrow.svg) center no-repeat;
    -webkit-mask-size: contain;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.news__all-news {
  display: flex;
  flex-flow: column;
  width: 65%;
  padding: 30px 0 77px 6.2%;
  @media (max-width: 1025px) {
    width: 100%;
    padding: 42px 0 39px;
  }
}

.news__list {
  margin-bottom: 40px;
  @media (max-width: 767px) {
    overflow-x: scroll;
  }
}

.news__list-item-wrapper{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  @media (max-width: 767px) {
   width: calc(252px * 3);
  }
}

.news__list-item {
  display: flex;
  flex-flow: column;
  margin-top: 37px;
  width: 31%;
  @media (max-width: 1025px) {
    width: 32%;
  }
  @media (max-width: 767px) {
    width: 237px;
    margin-right: 15px;
  }
}

.news__img-wrapper {
  width: 100%;
}

.news__all-news-title {
  margin-top: 8px;

  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
}

.news__all-news-date {
  margin-top: auto;
  padding-top: 10px;
  font-size: 14px;
  line-height: 17px;

  color: #04ADBF;
}

.join-us {
  padding: 77px 0;
  @media (max-width: 1025px) {
    padding: 40px 0 25px;
  }
}

.join-us__content {
  display: flex;
  flex-flow: column wrap;
  height: 354px;
  @media (max-width: 1366px) {
    height: 400px;
  }
  @media (max-width: 1025px) {
    height: unset;
    flex-flow: column;
  }
}


.join-us__title {
  width: 45%;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;

  color: #04ADBF;
  @media (max-width: 1025px) {
    width: 100%;
    order: 1;
  }
  @media (max-width: 767px) {
    font-size: 30px;
    line-height: normal;
  }
}

.join-us__description {
  margin: 20px 0;
  width: 45%;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  @media (max-width: 1025px) {
    width: 100%;
    order: 3;
  }
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: normal;
  }
}

.join-us__img-wrapper {
  width: 48%;
  margin-left: auto;
  @media (max-width: 1025px) {
    margin-top: 20px;
    width: 100%;
    order: 2;
  }
}

.btn {
  padding: 23px 58px;
  color: #fff;
  background-color: #000;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background: #04ADBF;
  }
}

.writing-text-list {
  display: none;
}

@import "slider";
@import "footer";
@import "popups";
@import "animations";

//Special classes
.dn {
  display: none;
}
